@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Get to Know Joel</h1>

<p>
    Joel Hilton is a movie enthusiast with a remarkable collection.
    Here are some links to get to know him better:
</p>

<ul>
    <li>
        <strong>Quick Wits Comedy:</strong>
        <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy Website</a>
    </li>
    <li>
        <strong>Baconsale Site:</strong>
        <a href="https://baconsale.com/" target="_blank">Baconsale Website</a>
    </li>
</ul>

<div>
    <p>
        Joel also performs regularly with Quick Wits Comedy. Check them out!
    </p>
    <a href="https://www.qwcomedy.com/" target="_blank">
        <img src="~/baconsalekate.jpg" alt="Joel with Baconsale" />
    </a>
</div>
