@{
    ViewData["Title"] = "Home Page";
}

<h1>The Joel Hilton Film Collection</h1>


 <img src="~/joelhiltonheadshot.jpg" />

 <div>
     <a asp-controller="Home" asp-action="movieData">View Movie Data</a>
 </div>


